<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="KodenGroup">
      <section name="Emailer" type=" Koden.Utils.ConfigFileSections.EmailerSection,Koden.Utils" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <KodenGroup>
    <Emailer>
      <SMTPServer hostname="mail.mailserver.com"/>
      <DebugMsg enabled="true" from="_ETLNotify@mailserver.com" to="noone@mailserver.com" attachLog="true"/>
      <SuccessMsg enabled="false" from="_ETLNotify@mailserver.com" to="noone@mailserver.com" attachLog="false"/>
      <FailureMsg enabled="true" from="_ETLNotify@mailserver.com" to="noone@mailserver.com" cc="noone@mailserver.com" attachLog="true"/>
    </Emailer>
  </KodenGroup>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
